<div fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="myReactiveForm" fxFlexAlign="center center" fxFlex="500px">
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <mat-card-title>Sing in to your account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div>
            <app-form-input
              label="Username"
              [placeholder]="namePlaceholder"
              formControlName="username"
            >
            </app-form-input>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <app-form-input
              label="Name"
              [placeholder]="usernamePlaceholder"
              formControlName="name"
            >
            </app-form-input>
            <app-form-input
              label="First Name"
              [placeholder]="firstNamePlaceholder"
              formControlName="firstName"
            >
            </app-form-input>
          </div>
          <div>
            <app-form-input
              label="Email"
              [placeholder]="emailPlaceholder"
              formControlName="email"
            >
            </app-form-input>
          </div>
          <div>
            <app-form-input
              label="password"
              [placeholder]="usernamePlaceholder"
              formControlName="password"
              class="full-width"
            >
            </app-form-input>
            <label for="remember">Remember me</label>
            <input
              #rememberMe
              type="checkbox"
              id="remember"
              formControlName="remember"
            />
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button
          (click)="onSubmit()"
          fxFlex="150px"
          type="button"
          mat-raised-button
          color="primary"
        >
          Send
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
